.style-info{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.style-item{
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 24px;
    line-height: 24px;
    border: 1px #2d2d2d solid;
    width: 100%;
    white-space: nowrap;
    color: #efefef;
}

.style-title{
    margin-left: 0.5vw;
    color: #dfdfdf;
}

.style-input{
    background-color: transparent;
    border: #9f9f9f 1px solid;
    color: #dfdfdf;
    width: 80%;
    margin-right: 0.3vw;
}

.remove-style{
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    text-align: center;
    line-height: 24px;
    user-select: none;
    cursor: pointer;
}

.remove-style:hover{
    background-color: #4f4f4f;
}
