.add-attr-item{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 24px;
    line-height: 24px;
    border: 1px #2d2d2d solid;
    color: #efefef;
}

.add-attr-item input{
    background-color: transparent;
    border: #9f9f9f 1px solid;
    color: #dfdfdf;
    width: 50%;
    margin-right: 0.3vw;
    margin-left: 0.5vw;
}

.add-attr{
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    text-align: center;
    line-height: 24px;
    user-select: none;
    cursor: pointer;
}

.add-attr:hover{
    background-color: #4f4f4f;
}
