.wrapper{
  position: fixed;
  top: 30px;
  bottom: 24px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  user-select: none;
}

.left-block{
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100%;
  user-select: none;
}

.right-block{
  position: absolute;
  top: 0;
  right: 0px;
  width: 20vw;
  height: 100%;
  user-select: none;
}

.center-block{
  background-color: #7f7f7f;
  position: absolute;
  top: 0;
  left: 15vw;
  right: 20vw;
  height: 100%;
  overflow: scroll;
  user-select: none;
}

.scale-range{
  position: fixed;
  bottom: 30px;
  right: 20vw;
}
