.wrapper{
  position: fixed;
  top: 30px;
  bottom: 24px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  user-select: none;
}

.left-block{
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100%;
  user-select: none;
}

.right-block{
  position: absolute;
  top: 0;
  right: 0px;
  width: 20vw;
  height: 100%;
  user-select: none;
}

.center-block{
  position: absolute;
  top: 0;
  left: 15vw;
  right: 20vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
